<h1>Score: {{score}}</h1>
<span>{{type}}</span><br>
<span>{{difficulty}}</span>
<div *ngIf="movieLeft && movieRight">
    <table>
    <tbody>
        <tr>
            <td>
                <h3>{{movieLeft.title}}</h3>
            </td>
            <td>
                <h3>{{movieRight.title}}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{movieLeft.overview}}</p>
            </td>
            <td>
                <p>{{movieRight.overview}}</p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button mat-raised-button color="accent" (click)="Higher()">Higher</button>
                <button mat-raised-button color="warn" (click)="Lower()">Lower</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
